# Environment files
.env
.env.local
.env.production

# Binary
bin/
*.exe

# OS files
.DS_Store
Thumbs.db

# Backups and archives
*.backup
*.dump
*.sql
*.zip
*.tar.gz
backups/

# image file 
uploads/
internal/config/firebase/*.json
test_scripts/
scripts/